body {
	background-color: #dedede !important;
}

#profile-wrapper {
	text-align: center;
}

#profile-pic {
	width:150px;
	height: 150px;
	border-radius: 50%;
	margin-left: auto;
  	margin-right: auto;
}

.social-links li {
	padding: 0;
	list-style-type: none;
	display: inline-block;
}

.social-imgs {
	width:20px;
	height: 20px;
}

.courses {
	padding: 0;
	column-count: 2;
	margin-left:10px;
}

.goals {
	padding: 0;
	list-style-type: none;
}