body {
    font-family: "Fira Sans", sans-serif;
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

/* Nav styles */
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 34px;
    margin-bottom: -21px;
}

.nav-wrapper img {
    margin-top:-16px;
    width: 50px;
    margin-right: 21px;
    justify-content: center;
}

.left-side {
    display: flex;
}

.brand {
    display: flex;
    text-transform: uppercase;
}

.name a {
    color: black !important;
    text-decoration: none;
}

.name {
    justify-content: center;
    vertical-align: middle;
    border-bottom: 1px solid black;
}

.right-side {
    display: flex;
}

.nav-wrapper > .right-side > div {
    margin-right: 21px;
    text-transform: uppercase;
    font-size: 0.9rem;
}

.nav-link-wrapper {
    height: 21px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.active-nav-link {
    border-bottom: 1px solid black;
}

.active-nav-link a {
    color: black !important;
}

.nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
    color: black;
}

/* Portfolio styles */

.portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item-wrapper {
    position: relative;
}

.portfolio-img-background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
}

.img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.img-text-wrapper .subtitle {
    transition: 1s;
    color: transparent;
    font-weight: 600;
}

.img-text-wrapper:hover .subtitle {
    font-weight: 600;
    color: firebrick; 
}

.logo-wrapper img {
    top: 21px;
    width: 43%;
    margin-bottom: 16px;
    justify-content: center;
}

.img-darken {
    transition: 1s;
    filter: brightness(11%);
}

/* About styles */

.about-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.about-item-wrapper {
    position: relative;
}

.about-profile-img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
}

.about-content-wrapper h1 {
    color: firebrick;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.about-content-wrapper p {
    text-align: left;
    margin-left: auto;
    margin-right: 75px;
}

/* Generation styles */

.generations-content-wrapper {
    margin: 0;
    padding: 0;
    background-color: #333;
}

.generations-items-wrapper {
    display: grid;
    grid-template-columns: 1fr;
}

ul.typebtns {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%)
}

ul.typebtns li {
    list-style: none;
    position: relative;
    width: 200px;
    height: 200px;

    transform: rotate(45deg);
    overflow: hidden;
    opacity: .7;
}

ul.typebtns li:hover {
    opacity: 1;
    transition: .5s;
}

ul.typebtns li.grass {
    top: 0;
    left: 0;
    background: #78C850;
}

ul.typebtns li.fire {
    top: 25%;
    left: 100%;
    background: #F08030;
}

ul.typebtns li.water {
    top: 50%;
    left: 0;
    background: #6890F0;
}

ul.gens {
    position: absolute;
    width: 600px;
    height: 150px;
    margin: 0;
    padding: 0;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%)
}

ul.gens li {
    list-style: none;
    position: absolute;
    width: 200px;
    height: 200px;

    transform: rotate(45deg);
    margin: -100px;
    overflow: hidden;
    opacity: .7;
}

ul.gens li:hover {
    opacity: 1;
    transition: .5s;
}

ul.gens li.fire1 {
    top: 0;
    left: 0;
}

ul.gens li.fire2 {
    top: 0;
    left: 50%;
}

ul.gens li.fire3 {
    top: 0;
    left: 100%;
}

ul.gens li.fire4 {
    top: 100%;
    left: 25%;
}

ul.gens li.fire5 {
    top: 100%;
    left: 75%;
}

ul.gens li.fire6 {
    top: 200%;
    left: 0;
}

ul.gens li.fire7 {
    top: 200%;
    left: 50%;
}

ul.gens li.fire8 {
    top: 200%;
    left: 100%;
}

ul.gens li.btns {
    top: 100%;
    left: -25%;
}

ul.gens li .image {
    width: 100%;
    height: 100%;
    transform: rotate(-45deg) scale(1.43);
}

ul.gens li.fire1 .image {
    background: url("../images/generations/charmander.png");
    background-size: cover;
    background-color: #ACD36C;
}

ul.gens li.fire2 .image {
    background: url("../images/generations/cyndaquil.png");
    background-size: cover;
    background-color: #DCD677;
}

ul.gens li.fire3 .image {
    background: url("../images/generations/torchic.png");
    background-size: cover;
    background-color: #9CD7C8;
}

ul.gens li.fire4 .image {
    background: url("../images/generations/chimchar.png");
    background-size: cover;
    background-color: #B7A3C3;
}

ul.gens li.fire5 .image {
    background: url("../images/generations/tepig.png");
    background-size: cover;
    background-color: #9FCADF;
}

ul.gens li.fire6 .image {
    background: url("../images/generations/fennekin.png");
    background-size: cover;
    background-color: #DD608C;
}

ul.gens li.fire7 .image {
    background: url("../images/generations/litten.png");
    background-size: cover;
    background-color: #E89483;
}

ul.gens li.fire8 .image {
    background: url("../images/generations/scorbunny.png");
    background-size: cover;
    background-color: #C97DC0;
}

/* PokeDex styles */

* {
	box-sizing: border-box;
}

.pokedex {
    font-family: "Fira Sans", sans-serif;
	background: #bdbdb7;
	background: -webkit-linear-gradient(to bottom, #bb1111, #bdbdb7);
	background: linear-gradient(to bottom, #bb1111, #bdbdb7);

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0;
}

h1 {
	letter-spacing: 3px;
}

.poke-container {
	display: flex;
	flex-wrap: wrap;
	align-items: space-between;
	justify-content: center;
	margin: 0 auto;
	max-width: 1200px;
}

.pokemon {
	background-color: #eee;
	border-radius: 25px;
	box-shadow: 0 7px 16px rgba(100, 100, 100, 0.7);
	margin: 11px;
	padding: 16px;
	text-align: center;
}

.pokemon .img-container {
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 52%;
	width: 120px;
	height: 120px;
	text-align: center;
}

.pokemon .img-container img {
	margin-top: 16px;
	max-width: 81%;
}

.pokemon .info {
	margin-top: 16px;
}

.pokemon .number {
	background-color: #eee;
	border-radius: 16px;
	font-size: 0.7em;
	padding: 7px 11px;
}

.pokemon .name {
	margin: 16px 0 7px;
}
